@model BlogVM
@{ 
    int count = 0;
    @foreach (Review review in Model.Reviews)
    {
        count+=1;
    }
}


    <section class="blog">
        <div class="blog-text">
            <h1>Blog</h1>
            <a href="">Home </a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="blog.html">Blog</a>
            <i class="fa-solid fa-angle-right"></i>
            <span>Stuffed Lamb with Spinach and Pine Nuts Recipe</span>
        </div>
    </section>
    <section class="blog-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generalblog">
                        <div class="blogimage">
                            <img src="~/assets/img/blogs/@Model.Blog.Image" alt="">
                        </div>
                        <div class="blogcontent">
                            <h4>@Model.Blog.Title</h4>
                            <p>@Html.Raw(Model.Blog.Description)</p>
                        </div>
                    </div>
                    @foreach (Review review in Model.Reviews)
                    {
                    <div class="comment" style="text-align:left; color:white;">
                        <p>@review.Name</p>
                        <p style="color:#CF8D38">@review.CreatedAt</p>
                        <p>@review.Message</p>
                        @if (User.Identity.IsAuthenticated && review.Name == User.Identity.Name)
                        {
                            <span class="reply-btn"><a asp-controller="Blog" asp-action="Edit" asp-route-id="@review.Id" style="text-decoration:none; color:aliceblue;">Change</a></span>
                        }
                    </div>
                    }


                    <div class="comment">
                        <div class="comment-form">

                            <form method="post" enctype="multipart/form-data" asp-action="AddReview" asp-controller="blog" asp-route-rid="@Model.Blog.Id">
                                <h5>Leave a Reply</h5>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12"><input type="text" id="Message" name="Message"  placeholder="Write comment"></div>
                                        <div class="col-lg-12">  <button type="submit">Post Comment</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
