@model BlogVM
@{
    ViewData["Title"] = "Index";
}

<section class="blog">
    <div class="blog-text">
        <h1>Blog</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>Blog</span>
    </div>
</section>
<section class="aboutblogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-12">
                @foreach (Blog blog in Model.Blogs)
                {
                    <div class="generalblog">
                        <div class="blogimage">
                            <a asp-action="Detail" asp-controller="Blog" asp-route-bid="@blog.Id"> <img src="~/assets/img/meals/@blog.Image" alt=""></a>
                        </div>
                        <div class="blogcontent">
                            <h4>@blog.Title</h4>
                            <p>@Html.Raw(blog.Description.ToString().Substring(0, 200))...</p>
                            <a asp-action="Detail" asp-controller="Blog" asp-route-bid="@blog.Id">Read More</a>
                        </div>
                    </div>
                }
               
                <div class="blog-pagination">
                    <ul class="justify-content-center">
                        @if (ViewBag.PageIndex > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="1" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid" aria-label="Previous">
                                    @("<<")
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid" aria-label="Previous">
                                    @("<")
                                </a>
                            </li>
                            @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                            {
                                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid">@(ViewBag.PageIndex-2)</a></li>
}
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid">@(ViewBag.PageIndex-1)</a></li>
}

                        <li class="page-item"><a class="page-link" style="background: #030E16; color: white;" asp-action="index" asp-route-page="@ViewBag.PageIndex" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid">@ViewBag.PageIndex</a></li>

                        @if (ViewBag.PageIndex < ViewBag.PageCount)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid">@(ViewBag.PageIndex + 1)</a></li>

                            @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                            {
                                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid">@(ViewBag.PageIndex+2)</a></li>
}
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(ViewBag.PageIndex + 1)" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid" aria-label="Next">
                                    @(">")
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@ViewBag.PageCount" asp-route-cid="@ViewBag.cid" asp-route-tid="@ViewBag.tid" aria-label="Next">
                                    @(">>")
                                </a>
                            </li>
}

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-12">
                <div class="right">
                    <form action="">
                        <input type="text" placeholder="Serach">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="recent">
                    <h3>Recent Posts</h3>
                    @foreach (Blog blog in Model.Blogs.Take(3))
                    {
                        <div class="posts">
                            <img src="~/assets/img/meals/@blog.Image" alt="">
                            <h6>@blog.Title</h6>
                        </div>
                    }
 

                </div>
                <div class="blog-categories">
                    <h3>Categories</h3>
                    <ul>
                        @foreach (Category category in Model.Categories)
                        {
                            <li><a asp-action="Index" asp-controller="Blog" asp-route-cid="@category.Id" asp-route-page="@ViewBag.PageIndex">@category.Name</a></li>
                        }

                    </ul>
                </div>
                <div class="blog-tags">
                    <h3>Tags</h3>
                    <div class="tags-name">
                        @foreach (Tag tag in Model.Tags)
                        {
                            <a asp-action="Index" asp-controller="Blog" asp-route-tid="@tag.Id" asp-route-page="@ViewBag.PageIndex">@tag.Name</a>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

