@model TableVM
@{
    ViewData["Title"] = "Index";
}

<section class="about">
    <div class="about-text">
        <h1>Book a Table</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>Book a Table</span>
    </div>
</section>
<section class="booking">
    <div class="container">
        <div class="row">
       <div class="col-lg-8 form-text">
                <h3>Book A Table</h3>
             @await Html.PartialAsync("_TableCreatePartial", Model.Table)
            </div>
            <div class="col-lg-4">
                <h5>Our Contacts</h5>
                <h2>@Model.Setting.ContactUsTitle</h2>
                <p>@Html.Raw(Model.Setting.ContactUsDescription)</p>
                <div class="contactdetails">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>
                        We are Here:
                        <br>
                       @Html.Raw(Model.Setting.Address)
                    </p>
                </div>
                <div class="contactdetails">
                    <i class="fa-solid fa-phone"></i>
                    <p>
                        Phone Us:
                        <br>
                        @Model.Setting.Phone
                    </p>
                </div>
                <div class="contactdetails">
                    <i class="fa-solid fa-at"></i>
                    <p>
                        Mail Us:
                        <br>
                        @Model.Setting.Phone
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

